body {
    color: black;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    background-size: 100%;
    padding: 18px;
}

background: rgba(204, 204, 204, 0.5); 

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

/* a:link {
  color: #7f8389;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #7f8389;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #7f8389;
  background-color: transparent;
  text-decoration: none;
} */
