body {
    color: black
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    background-size: 100%;
    padding: 18px;
    font-size: 20px;
}

p {
    text-align: center;
}

background: rgba(204, 204, 204, 0.5); 


a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #373edf;
  background-color: transparent;
  text-decoration: none;
}


