body {

    text-align: center;
    font-family: 'DM Sans', sans-serif;
    background-size: 100%;
    padding: 18px;
    font-size: 20px;
}

background: rgba(204, 204, 204, 0.5); 

p {
    font-size: 20px;
    color: black;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #0000FF;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
